package pages

import (
	"github.com/stratocraft/stratocraft.dev/internal/views/shared"
	"github.com/stratocraft/stratocraft.dev/internal/views/lockups"
)

templ About() {
	@shared.Base("About") {
		@lockups.About()
	}
}
