package shared

import (
	"github.com/stratocraft/stratocraft.dev/internal/views/components/buttons"
)

templ Socials() {
	<div class="flex space-x-8 items-center">
		@buttons.GitHub()
		@buttons.Linkedin()
		@buttons.MsftLearn()
	</div>
}
