package partials

import (
	"github.com/jgndev/jgn.dev/internal/views/buttons"
)

templ Socials() {
	<div class="flex space-x-8 items-center">
		@buttons.GitHub()
		@buttons.Linkedin()
		@buttons.MsftLearn()
	</div>
}
