package pages

import (
	"github.com/stratocraft/stratocraft.dev/internal/views/components/shared"
	"github.com/stratocraft/stratocraft.dev/internal/views/components/lockups"
)

templ Home() {
	@shared.Layout("Home", "Expert Cloud & DevOps engineering services. Scale your infrastructure with modern best practices, Azure, AWS, Kubernetes, and more.") {
		<!-- Hero Section -->
		@lockups.CTA()
	}
}
