package lockups

templ Contact() {
	<section class="bg-zinc-900">
		<div>
			<h1 class="mb-4 text-center text-5xl">Let's Connect</h1>
			<p class="mb-8 lg:mb-16 font-light text-center sm:text-xl">
				Here are some ways to contact me.
			</p>
		</div>
		<div class="py-4 lg:py-16 px-4 mx-auto max-w-screen-lg grid grid-cols-1 place-items-center">
			@ContactInfo()
		</div>
	</section>
}
