package lockups

import "github.com/stratocraft/stratocraft.dev/internal/views/icons"

templ Languages() {
	<div class="">
		<h2 class="uppercase text-xl">Programming Languages:</h2>
		<div class="brand-block">
			@icons.Go()
			@icons.Rust()
			@icons.Shell()
			@icons.Sql()
		</div>
	</div>
}
