package lockups

import "github.com/stratocraft/stratocraft.dev/internal/views/icons"

templ Tools() {
	<div class="">
		<h2 class="uppercase text-xl">Tools of the Trade:</h2>
		<div class="brand-block">
			@icons.Kubernetes()
			@icons.Docker()
			@icons.Terraform()
			@icons.Pulumi()
			@icons.Ansible()
			@icons.Aws()
			@icons.Argo()
			@icons.Git()
			@icons.GitHub()
			@icons.GitLab()
		</div>
	</div>
}
