package lockups

templ About() {
	<!-- Greeting -->
	<div class="my-4 py-4">
		@Greeting()
	</div>
	<!-- Resume, Certifications and Skills -->
	<div class="mx-auto flex flex-col items-start justify-center">
		<!-- Resume -->
		<!--@Resume()-->
		<!-- Certifications -->
		@Certifications()
		<!-- Skills -->
		@Skills()
	</div>
	<!-- AFK -->
	<div class="mx-auto flex flex-col items-start justify-center">
		@Afk()
	</div>
}
