package lockups

import "github.com/jgndev/jgn.dev/internal/views/icons"

templ Languages() {
	<div class="">
		<h2 class="uppercase text-xl">Programming Languages:</h2>
		<div class="brand-block">
			@icons.Go()
			@icons.Python()
			@icons.Shell()
			@icons.Odin()
		</div>
	</div>
}
