package lockups

templ Skills() {
	<div class="mt-6">
		<h2 class="uppercase font-bold text-3xl">Skills</h2>
	</div>
	<!-- Languages -->
	@Languages()
	<!-- Tools -->
	@Tools()
	<!-- Operating Systems -->
	@Os()
}
