package lockups

import "github.com/jgndev/jgn.dev/internal/views/icons"

templ Tools() {
	<div class="">
		<h2 class="uppercase text-xl">Tools of the Trade:</h2>
		<div class="brand-block">
			@icons.Kubernetes()
			@icons.Containerd()
			@icons.Prometheus()
			@icons.Grafana()
			@icons.Terraform()
			@icons.Ansible()
			@icons.Azure()
			@icons.FluxCD()
			@icons.Git()
			@icons.GitHub()
		</div>
	</div>
}
